<% include header %>
<header>
  <h1>Ntalk</h1>
  <h4>Something went terribly wrong ! ! ! :(</h4>
</header>
<hr>
<p>
  See the error details: <br/>
  <%-- error.message %>
</p>
<hr>
<p>Let's go back to the <a href="/">home</a>
<% include footer %>
