<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NTalk - Contacts</title>
  </head>
  <body>
    <header>
      <h1>NTalk</h1>
      <h4>Welcome</h4>
    </head>
    <section>
      <form action="/action" method="post">
        <input type="text" name="user[name]" placeholder="Name" /><br/>
        <input type="text" name="user[email]" placeholder="E-mail" /><br/>
        <button type="submit">Log in</button>
      </form>
    </section>
    <footer>
      <small>Ntalk - Contacts</small>
    </footer>
  </body>
</html>
