<% include ../header %>
    <header>
      <h1>NTalk</h1>
      <h4>Welcome</h4>
    </head>
    <div class="container">
      <form action="/action" method="post" class="form-signin">
        <p>
          <input type="text" name="user[name]" placeholder="Name" class="form-control" autofocus/><br/>
          <input type="text" name="user[email]" placeholder="E-mail" class="form-control"/><br/>
        </p>
        <p>
          <button type="submit" class="btn btn-primary btn-lg">Log in</button>
        </p>
      </form>
    </div>
<% include ../footer %>
