<% include ../header %>
<header>
  <h2>Ntalk - Edit contacts</h2>
</header>
<section>
  <form action="/contact/<%- contact.id %>?_method=put" method="post">
    <p><label>Name:</label>
    <input type="text" name="contact[name]" value="<%- contact.name %>" /></p>
    <p><label>Email:</label>
    <input type="text" name="contact[email]" value="<%- contact.email %>" /></p>
    <button type="submit" class="btn btn-warning">Edit</button>
  </form>
</section>
<% include ../exit %>
<% include ../footer %>
