<% include ../header %>
<header>
  <h2>Ntalk - Contact details</h2>
</header>
<section>
  <form action="/contact/<%- id %>?_method=delete" method="post">
    <p><label>Name: </label><%- contact.name %></p>
    <p><label>Email: </label><%- contact.email %></p>
    <div class="btn-group">
      <button type="submit" class="btn btn-danger">Delete</button>
      <a href="/contact/<%- id %>/edit" class="btn btn-primary">Edit</a>
    </div>
  </form>
</section>
<% include ../exit %>
<% include ../footer %>
